/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.wrapper {
  position: relative;
  width: 340px;
  height: 795px;
  margin: 0 auto;

  border-radius: 10px;
  padding: 10px;

  & > h1 {
    font-size: 24px;
    margin: 0;
  }

  & > p {
    position: absolute;
    bottom: 0;
  }
}

.frame-bg {
  position: absolute;
  width: 340px;
  height: 100vh;
  /* background-image: url(./frame.png); */
  background-image: url(./jiyoonframe.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.frame-container {
  width: 340px;
  height: 753px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 860px;
}

.frame {
  & > img {
    width: 338px;
    height: 188px;
  }

  /* margin: 10px;
  padding: 10px; */
}

/* 다른 스타일 정의 */

.photobtn {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 145px;
  z-index: 500;
}
