.webcam-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.webcam {
  width: 339px;
  height: 190px;
  margin-bottom: 10px;

  & > video {
    object-fit: cover;
    width: 339px;
    height: 190px;
  }
}

Button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffb13d;
  color: white;
  font-weight: 600;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 145px;
  z-index: 500;
}
